body {
  font-family: "Mulish", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #FFFFFF;
}

.page_content {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding-top: 50px;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

p{
  font-size: 18px;
  font-weight: 400;
  color: #7D7987;
  line-height: 1.5;
}

a {
  color: #1F1534;
  text-decoration: none;
}

li {
  display: block;
}

.divider {
  height: 2px;
}

.button {
    color: #458FF6;
    border-radius: 35px;
    border: 2px solid #458FF6;
    display: flex;
    align-items: flex-end;
    padding: 14px 24px;
}

@media (max-width: 1170px) {
    .container {
        padding: 0 50px;
    }
}

@media (max-width: 900px) {
h1 {
  font-size: 30px;
  text-align: center;
  }
  p {
    font-size: 16px;
  }
}