.testimonials__section {
  background-color: #F3F8FE;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 160px;
  }

.testimonials__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top right, #5A98F2, #67C3F3);
  border-radius: 24px;
  width: 100%;
  margin-top: 140px;
  padding: 40px 0;
}

.testimonials__content h1 {
  color: #FFFFFF;
}

#white_divider {
  margin-top: 32px;
  filter: invert(100%);
}

.testimonials__horizontal_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 66px;
  width: 80%;
}

.testimonials__horizontal_content img {
  width: 141px;
  margin-right: 30px;
}

#person_info{
 margin-right: 70px;
}

#name {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  min-width: 200px;
}

#status {
  color: #FFFFFFD9;
  font-size: 19px;
}

#quote {
  color: #FFFFFF;
  font-size: 19px;
}

.testimonials__navigate{
  margin-top: 42px;
  margin-bottom: 142px;
  display: flex;
  }

.testimonials__navigate button {
  border: none;
  margin-right: 90px;
  margin-left: 90px;
  background: transparent;
}

.testimonials__content-animation {
  animation: wipe-enter 1s 1
}
@keyframes wipe-enter {
  0% {
    transform: scale(0, .025)
  }
  50% {
    transform: scale(1, .025)
  }
}


@media (max-width: 1170px) {
  .testimonials__content {
    width: 85%;
  }
}

@media (max-width: 950px) {
.testimonials__horizontal_content {
  flex-direction: column;
  align-items: center;
  margin-top: 66px;
  gap: 30px;
  width: 80%;}
#person_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }
}

@media (max-width: 550px) {
    .testimonials__navigate button {
        margin-inline: 15px;
    }
    .testimonials__content h1 {
        font-size: 25px;
        padding: 0 12px;
    }
}